<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<add name="EMSConnection" connectionString="data source=172.24.200.129;User ID=sa;Password=okh123!@#;integrated security=false;initial catalog=MvvmDemoDb;Connect Timeout=30;Encrypt=False;"/>
	</connectionStrings>
</configuration>